<header id="header" class="animated fadeInDown" style="background-color:#FFF !important">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/forlab_logo.png" width="144" height="45" alt="site-logo"></span>
  </div>
</header>
<div id="main" role="main" class="animated fadeInDown">
  <!-- MAIN CONTENT -->
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="
      text-align: center;
      font-style: normal;
      font-weight: bolder;
      font-size: x-large;
  ">
        <p>Congratulations ! <br>Your account has been activated successfully. You can now login. <br>
          <a class="btn btn-cyan" style="margin-top: 5rem;" href="#/landingpage">Sign In</a>
        </p>
      </div>
    </div>
  </div>

</div>
