<!-- <div id="content">
    <sa-widgets-grid>
  
  
      <!-- START ROW -->
  
      <div class="row">
  
        <!-- NEW COL START 
        <article class="col-sm-12 col-md-12 col-lg-12">
          <div sa-widget [editbutton]="false" [custombutton]="false">
  
            <header>
              <span class="widget-icon"> <i class="fa fa-edit"></i></span>
  
              <h2> Patient Assumptions</h2>
  
            </header>
  
            <!-- widget div
            <div>
  
  
              <!-- widget content 
              <div class="widget-body no-padding"> -->
  
  
  
  
  
                <form class="smart-form" [formGroup]="lineargrowth">
                  <header>
                    Patient during the forecasting Period
                  </header>
  
                  <fieldset>
  
  
  
  
  
                    <section>
                      <h2>
  
                      </h2>
  
                      <div class="table-responsive" style="overflow-y: auto;height: 318px;border-style: ridge;margin-top: 26px" >
  
  
  
                        <table class="table table-bordered table-hover">
  
                          <thead>
                            <tr >
                               
                                <th *ngFor="let item of controlArray">{{item.name}}</th>
                            
                                
                            </tr>
                        </thead>
                          <tbody>
                            <tr *ngFor="let item1 of parameterlist; let i = index;">
  
                              <td *ngFor="let item of controlArray">
                                {{parameterlist[i][item.name]}}
                                <!-- <label class="input">
                                 <input type="{{item.type}}" formControlName="{{item.name}}" [attr.disabled] = "item.type === 'text' ? 'disabled' : null" [style.text-align]="item.type === 'text' ? 'left' : 'right'" /> 
                                </label> -->
  
                             
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
  
                      <!--  <td >
                                    
                                    <label class="input">
  
                                        <input type="number" name="PatientPercentage" formControlName="PatientPercentage" style="text-align: right" (input)="calculatepatientratio($event.target.value,i)"/>
                                    </label>
                                   
                                    
                                </td>
                                <td >
                                    <label class="input">
  
                                        <input type="number" name="PatientRatio" formControlName="PatientRatio" style="text-align: right" />
                                    </label>
                                </td>
                          
                                <td>
                                    <label class="input">
                                        <a type="button" (click)="delremovepatientgroup(i)">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </label>
                                </td>
                           
                            </tr> 
                        </tbody>
                    </table>
  
  
                </div> -->
  
                    </section>
  
  
  
                  </fieldset>
  
                  <footer>
                    <!-- <div class="form-actions"> -->
                    <!-- <div class="row">
            <div class="col-md-6"> -->
                    <button type="button" class="btn btn-success" (click)="savepatientlineargrowth()">
  
                      Next
                      <i class="fa fa-arrow-right"></i>
                    </button>
  
                    <button type="button" class="btn btn-primary" (click)="Previousclick()">
                      <i class="fa fa-arrow-left"></i>
                      Prev
                    </button>
                    <!-- </div>
          </div> -->
                  </footer>
                  <!-- </div> -->
  
                </form>
              <!-- </div>
              <!-- end widget content 
  
            </div>
            <!-- end widget div 
  
          </div>
        </article>
      </div>
    </sa-widgets-grid>
  </div> -->