<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{ isUpdate ? 'Update Article' : 'Add New Article' }}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:;" routerLink="/CMS/articles">Articles</a>
            </li>
            <li class="breadcrumb-item active">{{ isUpdate ? articleDto?.title : 'Add New Article' }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{ isUpdate ? 'Update Article' : 'Add New Article' }}</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                    <mat-error *ngIf="form.get('title').hasError('required')">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Provided By</mat-label>
                    <input matInput formControlName="providedBy">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="form.get('providedBy').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Provided Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="providedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('providedDate').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-label>Content</mat-label>
                  <ckeditor [config]="config" [editor]="Editor" formControlName="content"></ckeditor>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <input type="file" accept="image/*" multiple (change)="saveFilesToVariable($event)">
                </div>
              </div>
              <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                <ng-container *ngFor="let x of articleDto.articleImageDtos">
                  <div *ngIf="!x.isDeleted" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a [href]="x.attachmentUrl ? x.attachmentUrl : 'assets/images/image-gallery/thumb/thumb-1.jpg'" data-sub-html="Demo Description">
                      <img class="img-responsive thumbnail" [src]="x.attachmentUrl ? x.attachmentUrl : 'assets/images/image-gallery/thumb/thumb-1.jpg'" alt="">
                    </a>
                    <button mat-button color="warn" type="button" (click)="removeFile(x)">Delete</button>
                  </div>
                </ng-container>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="mr-3" [disabled]="form.invalid || loading" mat-raised-button color="primary"
                    type="submit">
                    {{ isUpdate ? 'Update Article' : 'Add New Article' }}
                    <mat-icon class="ml-2" *ngIf="loading">
                      <mat-spinner diameter="20"></mat-spinner>
                    </mat-icon>
                  </button>
                  <button type="button" [disabled]="loading" mat-button routerLink="/CMS/articles">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>