<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Channel Videos</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Help Videos</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="header">
            <h2>Channel Videos</h2>
            <div class="header-dropdown">
              <button mat-mini-fab color="primary" (click)="createObject()" matTooltip="Add New">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let x of data">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>{{ x.title }}</mat-card-title>
                    <mat-card-subtitle>{{ formatDateTime(x.createdOn) }}</mat-card-subtitle>
                  </mat-card-header>

                  <iframe *ngIf="x.isExternalResource" style="width: 100%; height: 300px;" frameborder="0"
                    allowfullscreen [src]="x.sanitizedUrl">
                  </iframe>
                  <video *ngIf="!x.isExternalResource" style="width: 100%; height: 300px;" controls>
                    <source [src]="x.sanitizedUrl" type="video/mp4">
                    <source [src]="x.sanitizedUrl" type="video/ogg">
                    Your browser does not support the video tag.
                  </video>

                  <mat-card-content style="height: 65px; overflow-y: auto;">
                    <p>{{ x.description }}</p>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-card-actions>
                    <div fxLayout="row">
                      <button (click)="updateObject(x)" mat-button>
                        Edit
                      </button>
                      <button (click)="deleteObject(x)" mat-button class="col-red">
                        Delete
                      </button>
                    </div>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>