<!-- <div id="content">
    <sa-widgets-grid>
  
  
      <!-- START ROW 
  
      <div class="row">
  
        <!-- NEW COL START 
        <article class="col-sm-12 col-md-12 col-lg-12">
  <div sa-widget [editbutton]="false" [custombutton]="false">
  
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
  
     
  
    </header>
  
    <!-- widget div
    <div>
  
  
      <!-- widget content 
      <div class="widget-body no-padding"> -->
  
      
  
     
  
      <form  class="smart-form"   [formGroup]="aggregrateforecast">
        <header>
        Aggregrate Forecasting
        </header>
      
        <fieldset>
            <div class="row">
                <section class="col col-3">
                      
                    <div class="form-group">
                      <div class="">
                        <label>
                          <input type="radio" class="radiobox style-3" name="methodtype"  formControlName="methodtype"   value="catregions" (click)="showdiv($event.target.value)" checked >
                          <span>Categorize by regions</span>
                        </label>
                       
                      </div>
                  
                    </div>
             
              </section>
              <section  class="col col-3" >
              
                  <div class="form-group">
                    <div class="">
                   
                      <label>
                          <input type="radio" class="radiobox style-3" name="methodtype" formControlName="methodtype"  value="catfacilitytype" (click)="showdiv($event.target.value)">
                          <span>Categorize by facility type</span>
                        </label>
                    </div>
             
            
                  </div>
            
            </section>
            <section  class="col col-3" >
              
                <div class="form-group">
                  <div class="">
                 
                    <label>
                        <input type="radio" class="radiobox style-3" name="methodtype"  formControlName="methodtype"   value="customcategory" (click)="showdiv($event.target.value)">
                        <span>Create Custome Category</span>
                      </label>
                  </div>
           
          
                </div>
          
          </section>
            </div>
                <div class="row" *ngIf="Showdiv">
                <section  class="col col-3"> 
                  <div class="form-group" [ngClass]="{'has-error':!aggregrateforecast.controls['CategoryName'].valid &&  aggregrateforecast.controls['CategoryName'].touched}">
                    <div class="input-group">
                      <label class="control-label">Category Name
  
                      </label>
                      <label class="input">
                        <input class="form-control" type="text" name="CategoryName" formControlName="CategoryName"></label>
                    </div>
                    <div class="note note-error" *ngIf="aggregrateforecast.controls['CategoryName'].hasError('required') && aggregrateforecast.controls['CategoryName'].touched">Forecast ID must not be empty</div>
                  
                  </div>
                    </section>
                    <section  class="col col-4"> 
                        <label class="control-label">
                          </label>
                          <label class="input">
                        <button type="button" class="btn btn-primary btn-sm" (click)="Addcategory()" [disabled]="!aggregrateforecast.controls['CategoryName'].valid" >
                            <!-- <i class="fa fa-eye"></i> -->
                            Add 
              </button>
              </label>
                    
                    </section>

                </div>
          <div class="row">
            <section class="col col-3">
                <h2>{{listheader}}
  
                  </h2>        
                <div class="form-group" style="    margin-left: 4px;
                border: 1px ridge;
                height: 300px;
                overflow-y: auto;
                padding: 10px;" >
                 
                <div *ngFor="let data of RegionList">
                  <label>
      <input type="checkbox" class="checkbox style-3"  (change)="onChange(data, $event.target.checked)" [checked]="ischecked"/><span>{{data.regionName}}</span> <br></label>
    </div>
                </div>
  
           
          </section>
          <!-- <section  class="col col-2">
      
              <h2>Sites
  
                </h2>        
              <div class="form-group" style="    margin-left: 4px;
              border: 1px ridge;
              height: 300px;
              overflow-y: auto;
              padding: 10px;" >
              <label>
               <input type="checkbox" class="checkbox style-3" (change)="selectallsites($event.target.checked)"  [checked]="checkallsite" /><span>Select All</span>
              </label>
              <div *ngFor="let data of SiteList">
                
                      <label>
    <input type="checkbox" [checked]="checksite" class="checkbox style-3"  (change)="onsiteChange(data, $event.target.checked)"/><span>{{data.siteName}}</span><br>
  </label>
  
  </div></div>
          </section> -->
          <section  class="col col-1">
  
          <div class="form-group" style="padding-top: 150px;">
       
              <button type="button" class="btn btn-primary btn-sm" (click)="Addsitepatient()" >
                  <!-- <i class="fa fa-eye"></i> -->
                  Add ->
    </button>
             
              </div>
            </section>

           <section class="col col-8">
                <h2>
  
                  </h2>        
               
                <div class="table-responsive"  style="overflow-y: auto;height: 318px;border-style: ridge;margin-top: 4%" formArrayName="_patientnumber">
  
  
  
                    <table class="table table-bordered table-striped table-hover">
  
                        <thead>
                            <tr>
                                <th></th>
                                <th>Category Name</th>
                            
                                <th *ngIf="Show" >Current Patient On Treatment</th>
                                <th  *ngIf="Show">Target Patient + New Patient</th>
                                <th  *ngIf="!Show">Population Number</th>
                                <th  *ngIf="!Show"> Prevalence Rate</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let item of aggregrateforecast.get('_patientnumber')['controls']; let i = index;" [formGroupName]="i" (click)="setClickedRow(i)" >
                             
                              <td>
                                  <a class="fa"
                    
                                  (click)="toggleExpandRow(i)"><i *ngIf="i!=divsubtable || !sitediv"  class="fa fa-plus"></i><i *ngIf="i==divsubtable && sitediv" class="fa fa-minus"></i>
                                </a>
                              </td>
                                <td  >
                                  
                                        <div class="form-group" [ngClass]="{'has-error': outsideRange && item.dirty || item.invalid}">
                                    <label class="input">
                                     
                                        <input type="text" name="SiteCategoryName" formControlName="SiteCategoryName" />
  
                                    </label>
                                    </div>
                                    <div *ngIf="i==divsubtable && sitediv" style="height:150px;overflow-y: auto ;">
                                        <table class="table table-bordered table-striped table-hover" >
                
                                            <thead>
                                                <tr>
                                                  <th></th>
                                                    <th>Sites</th>
                                                
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor="let item1 of sitecategorylist; let j = index;"  >
                                                    <td>
                                                        <label>
                                                            <input type="checkbox"  name="SiteID"  class="checkbox style-3"  (change)="onsiteChange(item1,$event.target.checked,i)" [checked]="item1.categoryID !=0" /><span></span>
                                                          </label>
                                                    </td>
                                                  <td  >
                                                        <label class="input">

                                                          {{item1.siteName}}
                      
                                                        </label>
                                                    </td>
                                                   
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            
                                <td  *ngIf="Show">
                                      <div class="form-group" [ngClass]="{'has-error': item.dirty}">
  
                                    <label class="input">
                                        <input type="text" class="form-control" formControlName="Currentpatient"
                                        pattern="[0-9]+" minlength="1" maxlength="10" style="text-align: right"    >
                                     <!--<input type="number" name="Currentpatient" formControlName="Currentpatient" style="text-align: right" maxlength="4" /> -->
                                    </label>
                                    </div>
                                    
                                </td>
                                <td  *ngIf="Show">
                                    <label class="input">
                                        <input type="text" class="form-control" formControlName="Targetpatient"
                                        pattern="[0-9]+" minlength="1" maxlength="10" style="text-align: right"    >
                                      <!--   <input type="number" name="Targetpatient" formControlName="Targetpatient" style="text-align: right"  maxlength="4"  /> -->
                                    </label>
                                </td>
                                <td  *ngIf="!Show"> 
                                  <label class="input">
                                    <input type="text" class="form-control" formControlName="PopulationNumber"
                                    pattern="[0-9]+" minlength="1" maxlength="10" style="text-align: right"    >
                                      <!-- <input type="number" name="PopulationNumber" formControlName="PopulationNumber" style="text-align: right"  maxlength="4"  /> -->
                                  </label>
                                 
                              </td>
                              <td  *ngIf="!Show">
                                  <label class="input">
                                    <input type="text" class="form-control" formControlName="PrevalenceRate"
                                    pattern="[0-9]+" minlength="1" maxlength="4" style="text-align: right"    >
                                      <!-- <input type="number" name="PrevalenceRate" formControlName="PrevalenceRate" style="text-align: right"  maxlength="4"  /> -->
                                  </label>
                              </td>
                                <td>
                                    <label class="input">
                                        <a type="button" (click)="delremovepatientno(i)">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </label>
                                </td>
                          </tr>
                   
                        </tbody>
                    </table>
  
  
                </div>
  
            </section>
           
        </div>
        
        </fieldset>
  
          <footer>
        <!-- <div class="form-actions"> -->
          <!-- <div class="row">
            <div class="col-md-6"> -->
              <button type="button" class="btn btn-success" (click)="savesitebycategoryinfo()"   >
               
                Next
                <i class="fa fa-arrow-right"></i>
              </button>
  
              <button type="button" class="btn btn-primary"  (click)="Previousclick()">
                  <i class="fa fa-arrow-left"></i>
                Prev
              </button>
            <!-- </div>
          </div> -->
          </footer>
        <!-- </div> -->
      
      </form> 
    
    <!-- </div>
      <!-- end widget content
  
    </div>
    <!-- end widget div 
  
  </div>
  </article>
      </div>
  </sa-widgets-grid>
  </div> -->