<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{ isUpdate ? 'Update Country' : 'Add New Country' }}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:;" routerLink="/lookup/countries">Countries</a>
            </li>
            <li class="breadcrumb-item active">{{ isUpdate ? countryDto?.name : 'Add New Country' }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{ isUpdate ? 'Update Country' : 'Add New Country' }}</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="form.get('name').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Continent</mat-label>
                    <mat-select formControlName="continentId">
                      <mat-option *ngFor="let option of (continentEnum | enumOptionlist: true)" [value]="option.key">
                        {{ option.value | humanize }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('continentId').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Country Period</mat-label>
                    <mat-select formControlName="countryPeriodId">
                      <mat-option *ngFor="let option of (countryPeriodEnum | enumOptionlist: true)"
                        [value]="option.key">{{ option.value | humanize }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('countryPeriodId').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Short Name</mat-label>
                    <input matInput formControlName="shortName">
                    <mat-error *ngIf="form.get('shortName').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Short Code</mat-label>
                    <input matInput formControlName="shortCode">
                    <mat-error *ngIf="form.get('shortCode').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Native Name</mat-label>
                    <input matInput formControlName="nativeName">
                    <mat-error *ngIf="form.get('nativeName').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Currency Code</mat-label>
                    <input matInput formControlName="currencyCode">
                    <mat-error *ngIf="form.get('currencyCode').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Calling Code</mat-label>
                    <input matInput formControlName="callingCode">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="form.get('callingCode').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input matInput type="number" formControlName="latitude">
                    <mat-error *ngIf="form.get('latitude').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input matInput type="number" formControlName="longitude">
                    <mat-error *ngIf="form.get('longitude').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Population</mat-label>
                    <input matInput type="number" oninput="validity.valid||(value='');" step="1" min="0"
                      formControlName="population">
                    <mat-error *ngIf="form.get('population').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Search for country on the map</mat-label>
                    <input ngx-google-places-autocomplete #placesRef (onAddressChange)="handleAddressChange($event)" matInput>
                  </mat-form-field>
                </div>
                <!-- Goolge Maps-->
                <agm-map (mapClick)="placeMarker($event)" [zoom]="14" [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="mr-3" [disabled]="form.invalid || loading" mat-raised-button color="primary"
                    type="submit">
                    {{ isUpdate ? 'Update Country' : 'Add New Country' }}
                    <mat-icon class="ml-2" *ngIf="loading">
                      <mat-spinner color="accent" diameter="20"></mat-spinner>
                    </mat-icon>
                  </button>
                  <button type="button" [disabled]="loading" mat-button routerLink="/lookup/countries">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>