<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Laboratory Details</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:;" routerLink="/laboratory/laboratories" onClick="return false;">Laboratories</a>
            </li>
            <li class="breadcrumb-item active">Details</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="header">
            <h2>About Laboratory</h2>
          </div>
          <div class="tab-pane body active" id="about">
            <small class="text-muted">Status: </small>
            <p>{{ laboratoryDto?.isActive ? 'Active' : 'Disabled' }}</p>
            <hr>
            <small class="text-muted">Name: </small>
            <p>{{ laboratoryDto?.name || '-' }}</p>
            <hr>
            <small class="text-muted">Region Name: </small>
            <p>{{ laboratoryDto?.regionName || '-' }}</p>
            <hr>
            <small class="text-muted">Laboratory Category Name: </small>
            <p>{{ laboratoryDto?.laboratoryCategoryName || '-' }}</p>
            <hr>
            <small class="text-muted">Laboratory Level Name: </small>
            <p>{{ laboratoryDto?.laboratoryLevelName || '-' }}</p>
            <hr>
            <small class="text-muted">Latitude: </small>
            <p>{{ laboratoryDto?.latitude || '-' }}</p>
            <hr>
            <small class="text-muted">Longitude: </small>
            <p>{{ laboratoryDto?.longitude }}</p>
            <hr>
            <small class="text-muted">Created By: </small>
            <p>{{ laboratoryDto?.creator || '-' }}</p>
            <hr>
            <small class="text-muted">Created On: </small>
            <p>{{ formatDateTime(laboratoryDto?.createdOn) }}</p>
            <hr>
            <ng-container *ngIf="laboratoryDto?.updator">
              <small class="text-muted">Last Updated By: </small>
              <p>{{ laboratoryDto?.updator || '-' }}</p>
              <hr>
              <small class="text-muted">Last Updated On: </small>
              <p>{{ formatDateTime(laboratoryDto?.updatedOn) }}</p>
              <hr>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="profile-tab-box">
            <div class="p-l-20">
              <ul class="nav ">
                <li class="nav-item tab-all">
                  <a class="nav-link active show" href="#workingDay" data-toggle="tab">Laboratory Working Days</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#instrument" data-toggle="tab">Laboratory Instruments</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#consumption" data-toggle="tab">Laboratory Consumptions</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#testService" data-toggle="tab">Laboratory Test Services</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#patientStatistic" data-toggle="tab">Laboratory Patient Statistics</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="workingDay" aria-expanded="true">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-laboratory-working-days [fromLaboratoryDetails]="true" [laboratoryId]="laboratoryId" [laboratoryCreatedBy]="laboratoryDto?.createdBy">
                </app-laboratory-working-days>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="instrument" aria-expanded="false">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-laboratory-instruments [fromLaboratoryDetails]="true" [laboratoryId]="laboratoryId" [laboratoryCreatedBy]="laboratoryDto?.createdBy">
                </app-laboratory-instruments>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="consumption" aria-expanded="false">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-laboratory-consumptions [fromLaboratoryDetails]="true" [laboratoryId]="laboratoryId" [laboratoryCreatedBy]="laboratoryDto?.createdBy">
                </app-laboratory-consumptions>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="testService" aria-expanded="false">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-laboratory-test-services [fromLaboratoryDetails]="true" [laboratoryId]="laboratoryId" [laboratoryCreatedBy]="laboratoryDto?.createdBy">
                </app-laboratory-test-services>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="patientStatistic" aria-expanded="false">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-laboratory-patient-statistics [fromLaboratoryDetails]="true" [laboratoryId]="laboratoryId" [laboratoryCreatedBy]="laboratoryDto?.createdBy">
                </app-laboratory-patient-statistics>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>