<div id="content">
  <div class="row">
    <article class="col-sm-12">
      <div sa-widget [editbutton]="false" color="blueDark" [deletebutton]="false">
        <div>
          <div class="widget-body no-padding">
            <app-manage-datatable tableClass="table table-striped table-bordered table-hover Category">
              <thead>
                <tr>
                  <th data-hide="mobile-p">ID</th>
                  <th data-class="expand">Country</th>
                  <th data-class="expand">Global Region</th>
                  <th data-class="expand">Action</th>
                  
                </tr>
              </thead>
            </app-manage-datatable>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<!-- <ng-template #cuntryaddModal>
  <app-country-add (close)="oncuntryAddClose()"></app-country-add>
</ng-template> -->