<div *ngIf="loadingUser">
  <mat-spinner style="margin: 100px auto;"></mat-spinner>
</div>

<section class="content" *ngIf="!loadingUser">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Details</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">{{userDto.firstName +' '+ userDto.lastName}}</div>
                <div class="name-center">{{formatUserRoles(userDto?.userRoles)}}</div>
              </div>
              <img [src]="userDto?.personalImagePath || 'assets/images/user/usrbig3.jpg'" class="user-img" alt="">
              <p *ngIf="userDto?.address">
                {{ userDto?.address }}
              </p>
              <div *ngIf="userDto?.phoneNumber">
                <span class="phone">
                  <i class="material-icons">phone</i>{{ userDto?.phoneNumber }}</span>
              </div>
              <div class="row">
                <div class="col-12">
                  <h5>{{ formatDateTime(userDto?.createdOn) }}</h5>
                  <small>Joined In</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="profile-tab-box">
            <div class="p-l-20">
              <ul class="nav ">
                <li class="nav-item tab-all">
                  <a class="nav-link active show" href="#project" data-toggle="tab">About Me</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#usersettings" data-toggle="tab">Settings</a>
                </li>
                <li class="nav-item tab-all p-l-20" *ngIf="userDto?.userSubscriptionLevelId && userId">
                  <a class="nav-link" href="#subscription" data-toggle="tab">Subscription</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="project" aria-expanded="true">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card project_widget">
                  <div class="header">
                    <h2>About</h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">{{userDto.firstName +' '+ userDto.lastName}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r" *ngIf="userDto?.phoneNumber">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">{{ userDto?.phoneNumber }}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r" *ngIf="userDto?.email">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">{{ userDto?.email }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Job Title</strong>
                        <br>
                        <p class="text-muted">{{userDto.jobTitle || '-'}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r" *ngIf="userDto?.userSubscriptionLevelName">
                        <strong>Subscription Level</strong>
                        <br>
                        <p class="text-muted">{{userDto.userSubscriptionLevelName || '-' | humanize}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-12 b-r">
                        <strong>Address</strong>
                        <br>
                        <p class="text-muted">{{userDto.address || '-'}}</p>
                      </div>
                    </div>
                    <div class="row" *ngIf="userDto.updator">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Last Update by</strong>
                        <br>
                        <p class="text-muted">{{userDto.updator || '-'}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Last Update on</strong>
                        <br>
                        <p class="text-muted">{{formatDateTime(userDto.updatedOn)}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="usersettings" aria-expanded="false">
            <div class="card">
              <div class="header">
                <h2>
                  <strong>Security</strong> Settings</h2>
                <div class="mt-3 alert alert-warning"><strong>Note!</strong> you will be logged out after changing the
                  password.</div>
              </div>
              <div class="body" [formGroup]="changePassForm">
                <div class="example-container">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password" formControlName="currentPassword">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmNewPassword">
                  </mat-form-field>
                </div>
                <button mat-raised-button color="primary" (click)="changePassword()"
                  [disabled]="changePassForm.invalid ||loading">Save</button>
              </div>
            </div>
            <div class="card">
              <div class="header">
                <h2>
                  <strong>Account</strong> Settings</h2>
              </div>
              <div class="body" [formGroup]="infoForm">
                <div class="row clearfix">
                  <div class="p-5 m-auto">
                    <input (change)="previewImage($event, imageTag)" type="file" style="display: none;" #file
                      name="profile_avatar" accept="image/*">
                    <div class="user-image">
                      <img #imageTag (click)="file.click()"
                        [src]="userDto?.personalImagePath ? userDto?.personalImagePath : 'assets/images/user/usrbig3.jpg'"
                        class="user-img">
                      <mat-icon (click)="file.click()" size="20px">edit</mat-icon>
                      <mat-icon (click)="removeImg(imageTag, file)" size="20px">delete</mat-icon>
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-icon matSuffix>face</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-icon matSuffix>face</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-icon matSuffix>email</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Telephone</mat-label>
                        <input matInput formControlName="phoneNumber">
                        <mat-icon matSuffix>phone</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Job Title</mat-label>
                        <input matInput formControlName="jobTitle">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button mat-raised-button color="primary" (click)="updateUser()"
                      [disabled]="infoForm.invalid ||loading">Save Changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="subscription" aria-expanded="false">
            <app-user-subscriptions [userId]="userId" [userSubscriptionLevelId]="userDto?.userSubscriptionLevelId">
            </app-user-subscriptions>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>