<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form m-auto">

        <span class="login100-form-title p-b-30">
          Register
        </span>

        <mat-horizontal-stepper *ngIf="!submitted" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Fill out your info</ng-template>
              <div class="row" style="margin-top: 90px;">
                <div class="m-auto">
                  <input (change)="previewImage($event, imageTag)" type="file" style="display: none;" #file
                    name="profile_avatar" accept="image/*">
                  <div class="user-image">
                    <img #imageTag (click)="file.click()" [src]="'assets/images/user/usrbig3.jpg'" class="user-img">
                    <mat-icon (click)="file.click()" size="20px">edit</mat-icon>
                    <mat-icon (click)="removeImg(imageTag, file)" size="20px">delete</mat-icon>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="firstFormGroup.get('firstName').hasError('required')">
                      First Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <mat-icon matSuffix>face</mat-icon>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="firstFormGroup.get('lastName').hasError('required')">
                      Last Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Job Title</mat-label>
                    <input matInput formControlName="jobTitle">
                    <mat-error *ngIf="firstFormGroup.get('jobTitle').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Telephone</mat-label>
                    <input matInput formControlName="phoneNumber">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="firstFormGroup.get('phoneNumber').hasError('required')">
                      Telephone is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="firstFormGroup.get('email').hasError('required')">
                      Email is required
                    </mat-error>
                    <mat-error *ngIf="firstFormGroup.get('email').hasError('email')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="firstFormGroup.get('password').hasError('required')">
                      Password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button mat-raised-button matStepperNext color="primary">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Subscription Level</ng-template>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <label>Pick your Subscription Level</label>
                  <mat-radio-group formControlName="userSubscriptionLevelId" class="example-radio-group">
                    <mat-radio-button class="example-radio-button ml-0"
                      *ngFor="let option of (userSubscriptionLevelsEnum | enumOptionlist: true)" [value]="option.key">
                      {{ option.value | humanize}}</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2"
                  *ngIf="secondFormGroup.value.userSubscriptionLevelId != userSubscriptionLevelsEnum.ViewOnlyLevel">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Continent</mat-label>
                    <mat-select formControlName="continentId">
                      <mat-option *ngFor="let option of (continentEnum | enumOptionlist: true)" [value]="option.key">
                        {{ option.value | humanize }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.get('continentId').hasError('required')">
                      Continent is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2"
                  *ngIf="secondFormGroup.value.userSubscriptionLevelId != userSubscriptionLevelsEnum.ViewOnlyLevel">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="countryId"
                      *ngIf="secondFormGroup.value.userSubscriptionLevelId != userSubscriptionLevelsEnum.CountryLevel">
                      <mat-option *ngFor="let option of (countries$ | async)" [value]="option.id">{{ option.name }}
                      </mat-option>
                    </mat-select>
                    <mat-select formControlName="countryId" multiple
                      *ngIf="secondFormGroup.value.userSubscriptionLevelId == userSubscriptionLevelsEnum.CountryLevel">
                      <mat-option *ngFor="let option of (countries$ | async)" [value]="option.id">{{ option.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.get('countryId').hasError('required')">
                      Country is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2"
                  *ngIf="secondFormGroup.value.userSubscriptionLevelId == userSubscriptionLevelsEnum.RegionLevel || secondFormGroup.value.userSubscriptionLevelId == userSubscriptionLevelsEnum.LaboratoryLevel">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Region</mat-label>
                    <mat-select formControlName="regionId"
                      *ngIf="secondFormGroup.value.userSubscriptionLevelId != userSubscriptionLevelsEnum.RegionLevel">
                      <mat-option *ngFor="let option of (regions$ | async)" [value]="option.id">{{ option.name }}
                      </mat-option>
                    </mat-select>
                    <mat-select formControlName="regionId" multiple
                      *ngIf="secondFormGroup.value.userSubscriptionLevelId == userSubscriptionLevelsEnum.RegionLevel">
                      <mat-option *ngFor="let option of (regions$ | async)" [value]="option.id">{{ option.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.get('regionId').hasError('required')">
                      Region is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2"
                  *ngIf="secondFormGroup.value.userSubscriptionLevelId == userSubscriptionLevelsEnum.LaboratoryLevel">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Laboratory</mat-label>
                    <mat-select formControlName="laboratoryId"
                      *ngIf="secondFormGroup.value.userSubscriptionLevelId != userSubscriptionLevelsEnum.LaboratoryLevel">
                      <mat-option *ngFor="let option of (laboratories$ | async)" [value]="option.id">{{ option.name }}
                      </mat-option>
                    </mat-select>
                    <mat-select formControlName="laboratoryId" multiple
                      *ngIf="secondFormGroup.value.userSubscriptionLevelId == userSubscriptionLevelsEnum.LaboratoryLevel">
                      <mat-option *ngFor="let option of (laboratories$ | async)" [value]="option.id">{{ option.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.get('laboratoryId').hasError('required')">
                      Laboratory is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <button mat-raised-button matStepperPrevious color="warn" class="mr-2">Back</button>
                <button mat-raised-button matStepperNext color="primary">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Confirm & Submit</ng-template>
            <div class="text-center" style="margin: 0 auto;">
              <h4>If you are ready, press the register button below</h4>
              <mat-icon style="color: green; font-size: 75px; width: 75px; height: 75px;">done</mat-icon><br>
              <button mat-flat-button color="primary"
                [disabled]="firstFormGroup.invalid || secondFormGroup.invalid || loading" class="mt-4 login100-form-btn"
                (click)="register()">Register
                <mat-icon class="ml-2" *ngIf="loading">
                  <mat-spinner color="accent" diameter="20"></mat-spinner>
                </mat-icon>
              </button>
            </div>
            <div class="mt-4">
              <button mat-raised-button matStepperPrevious color="warn" class="mr-2">Back</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>

        <div *ngIf="submitted">
          <i class="material-icons text-success" style="text-align: center;
          display: block;
          font-size: 60px;
          margin-bottom: 10px;">email</i>
          <p>Email verification was sent to you right now, Please check your inbox to verify your email to be able to
            sign in.</p>
        </div>

        <div class="flex-sb-m w-full p-t-15 p-b-20">
          <div>
            <span>Already Registered? <a routerLink="/authentication/signin">
                Login
              </a></span>
          </div>
        </div>

      </form>
      <!-- <div class="login100-more" style="background-image: url('assets/images/pages/bg-02.png');">
      </div> -->
    </div>
  </div>
</div>