<div class="addContainer" style="min-width: 520px;">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='staff.img' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            <span *ngIf="isCreateMode()">New Program Test</span>
            <span *ngIf="isUpdateMode()">Edit Program Test</span>
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Program</mat-label>
            <mat-select formControlName="programId">
              <mat-option *ngFor="let option of (programs$ | async)" [value]="option.id">{{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('programId').hasError('required')">
              Program is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Test</mat-label>
            <mat-select formControlName="testId">
              <mat-option *ngFor="let option of (tests$ | async)" [value]="option.id">{{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('testId').hasError('required')">
              Test is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Patient Group</mat-label>
            <mat-select formControlName="patientGroupId">
              <mat-option *ngFor="let option of (patientGroups$ | async)" [value]="option.id">{{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('patientGroupId').hasError('required')">
              Patient Group is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Testing Protocol Name</mat-label>
            <input matInput formControlName="testingProtocolName">
            <mat-error *ngIf="form.get('testingProtocolName').hasError('required')">
              Testing Protocol is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Base Line</mat-label>
            <input matInput formControlName="baseLine">
            <mat-error *ngIf="form.get('baseLine').hasError('required')">
              Base Line is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Test After First Year</mat-label>
            <input matInput formControlName="testAfterFirstYear">
            <mat-error *ngIf="form.get('testAfterFirstYear').hasError('required')">
              Field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Calculation Period</mat-label>
            <mat-select formControlName="calculationPeriodId">
              <mat-option *ngFor="let option of (calculationPeriodEnum | enumOptionlist: true)" [value]="option.key">
                {{ option.value | humanize }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('calculationPeriodId').hasError('required')">
              Field is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!--Months-->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="w-100">
            <div class="header">
              <h4><strong>Period</strong> Months</h4>
            </div>
            <div class="body table-responsive" [perfectScrollbar] style="max-height: 300px; position: relative;">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>MONTH</th>
                    <th>VALUE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let x of programTestDto?.testingProtocolDto?.testingProtocolCalculationPeriodMonthDtos; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{x.calculationPeriodMonthName}}</td>
                    <td>
                      <input type="number" class="form-control form-control-sm w-50" [(ngModel)]="x.value"
                        [ngModelOptions]="{standalone: true}" placeholder="value">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--/Months-->
      <div class="row mt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
              <span *ngIf="isCreateMode()">Add New</span>
              <span *ngIf="isUpdateMode()">Edit</span>
              <mat-icon class="ml-2" *ngIf="loading">
                <mat-spinner color="accent" diameter="20"></mat-spinner>
              </mat-icon>
            </button>
            <button mat-raised-button color="warn" type="button" [disabled]="loading" (click)="dialogRef.close()"
              tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>