<!--body content wrap start-->
<div class="main">
  <!--hero section start-->
  <section class="hero-equal-height pt-165 pb-100 overflow-hidden">
    <div class="hero-shape"></div>
    <img src="assets/img/grop-shape-3.svg" alt="group shape" class="group-shape-1">
    <img src="assets/img/grop-shape-2.svg" alt="group shape" class="group-shape-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="hero-slider-content z-index position-relative">
            <span class="text-uppercase">Total Business Solutions</span>
            <h2>Analyze Laboratory Products Consumption</h2>
            <p class="lead">Forlab+ is a standardized, open-source, web-based tool that gives you the ability to collect and analyze data to accurately forecast commodity needs. It performs long-term and short-term forecasts and guides improvements in diagnostics</p>

            <div class="action-btns mt-3">
              <a href="javascript:;" [href]="adminPanelURL" target="__blank" class="btn accent-solid-btn">Get Start Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="hero-animation-img">
            <img src="assets/img/hero-animation-05.svg" alt="hero" class="img-fluid d-none d-lg-block animation-two"
              width="250">
            <img src="assets/img/search.svg" alt="hero" class="animation-one">
            <img src="assets/img/hero-animation-03.svg" alt="hero" class="img-fluid d-none d-lg-block animation-four"
              width="200">
          </div>
        </div>
      </div>
    </div>
    <img src="assets/img/combined-shape.svg" alt="s" class="shape-img-2">
  </section>
  <!--hero section end-->
</div>
<!--body content wrap end-->