<div class="site-add-modal-header">
    <a type="button" class="close-button" (click)="onCloseModal()" aria-hidden="true">
    </a>
</div>
<form class="site-add-form" novalidate="novalidate" [formGroup]="siteForm" (ngSubmit)="save()">
    <div class="site-add-modal-body text-center">
        <span class="site-add-modal-title color-darkblue">Site Form</span>
        <div class="first-step">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="site-test-per-month">
                                <p class="title">Site Instrument</p>
                                <button type="button" class="btn btn-cyan" (click)="Addinformarray()">Add
                                    Instrument</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="site-test-checkboxes">
                                <div class="site-test-checkboxes__checkbox"
                                    *ngFor="let Ins of InstrumentList; let i = index">
                                    <input class="styled-checkbox" id="styled-checkbox-{{i}}" type="checkbox"
                                        (click)="Addmultiinstrument(Ins,$event.target.checked)">
                                    <label for="styled-checkbox-{{i}}">{{Ins.instrumentName}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="site-test-content" formArrayName="_siteinstrument">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th data-class="expand">Testing Area</th>
                                        <th data-class="expand">Instrument Name</th>
                                        <th data-class="expand">Quantity</th>
                                        <th data-class="expand">Instrument's % Of Test Contribution</th>
                                        <th data-class="expand">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of siteForm.get('_siteinstrument')['controls']; let i = index;"
                                        [formGroupName]="i">
                                        <td>
                                            <input type="text" name="testingareaName"
                                                formControlName="testingareaName" />
                                        </td>
                                        <td>
                                            <input type="text" name="instrumentName" formControlName="instrumentName" />
                                        </td>
                                        <td class="mt-touch">
                                            <input type="number" name="quantity" formControlName="quantity"
                                                class="form-control color-darkblue" />
                                        </td>
                                        <td class="mt-touch left-inner-addon">
                                            <span class="percent-icon">%</span>
                                            <input type="number" name="TestRunPercentage"
                                                class="form-control color-darkblue percent-type"
                                                formControlName="TestRunPercentage" />
                                        </td>
                                        <td>
                                            <a type="button" class="icon-trash" (click)="delsiteinstrument(i)">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-add-modal-footer">
        <div class="site-add-modal-footer__container">
            <button type="button" (click)="onBackModal()" class="btn btn-outline-cyan">Back</button>

            <div class="site-form-step">
                <div class="steps">
                    <div class="progressbar-wrapper">
                        <ul class="progressbar">
                            <li class="passed" (click)="onBackModal()"></li>
                            <!-- <li class="passed"></li> -->
                            <li class="active"></li>
                            <!-- <li></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-cyan">Add Site</button>
        </div>
    </div>
</form>
