<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Product Details</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:;" routerLink="/product/products" onClick="return false;">Products</a>
            </li>
            <li class="breadcrumb-item active">Details</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="header">
            <h2>About Product</h2>
          </div>
          <div class="tab-pane body active" id="about">
            <small class="text-muted">Status: </small>
            <p>{{ productDto?.isActive ? 'Active' : 'Disabled' }}</p>
            <hr>
            <small class="text-muted">Name: </small>
            <p>{{ productDto?.name || '-' }}</p>
            <hr>
            <small class="text-muted">Product Type: </small>
            <p>{{ productDto?.productTypeName || '-' | humanize }}</p>
            <hr>
            <small class="text-muted">Vendor: </small>
            <p>{{ productDto?.vendorName || '-' }}</p>
            <hr>
            <small class="text-muted">Basic Unit: </small>
            <p>{{ productDto?.productBasicUnitName || '-' | humanize}}</p>
            <hr>
            <small class="text-muted">Catalog Number: </small>
            <p>{{ productDto?.catalogNo || '-' }}</p>
            <hr>
            <small class="text-muted">Manufacturer Price: </small>
            <p>{{ formatPrice(productDto?.manufacturerPrice) }}</p>
            <hr>
            <small class="text-muted">Pack Size: </small>
            <p>{{ formatInt(productDto?.packSize, false) }}</p>
            <hr>
            <small class="text-muted">Created By: </small>
            <p>{{ productDto?.creator || '-' }}</p>
            <hr>
            <small class="text-muted">Created On: </small>
            <p>{{ formatDateTime(productDto?.createdOn) }}</p>
            <hr>
            <ng-container *ngIf="productDto?.updator">
              <small class="text-muted">Last Updated By: </small>
              <p>{{ productDto?.updator || '-' }}</p>
              <hr>
              <small class="text-muted">Last Updated On: </small>
              <p>{{ formatDateTime(productDto?.updatedOn) }}</p>
              <hr>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="profile-tab-box">
            <div class="p-l-20">
              <ul class="nav ">
                <li class="nav-item tab-all">
                  <a class="nav-link active show" href="#country" data-toggle="tab">Country Prices</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#region" data-toggle="tab">Region Prices</a>
                </li>
                <li class="nav-item tab-all p-l-20">
                  <a class="nav-link" href="#laboratory" data-toggle="tab">Laboratory Prices</a>
                </li>
                <li class="nav-item tab-all p-l-20"
                  *ngIf="productDto?.productTypeId == productTypeEnum.Consumables || productDto?.productTypeId == productTypeEnum.Calibrators">
                  <a class="nav-link" href="#productUsages" data-toggle="tab">Product Usages</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="country" aria-expanded="true">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <app-country-product-prices [fromProductDetails]="true" [productId]="productId" [productCreatedBy]="productDto?.createdBy">
                </app-country-product-prices>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="region" aria-expanded="false">
            <app-region-product-prices [fromProductDetails]="true" [productId]="productId" [productCreatedBy]="productDto?.createdBy"></app-region-product-prices>
          </div>
          <div role="tabpanel" class="tab-pane" id="laboratory" aria-expanded="false">
            <app-laboratory-product-prices [fromProductDetails]="true" [productId]="productId" [productCreatedBy]="productDto?.createdBy">
            </app-laboratory-product-prices>
          </div>
          <div role="tabpanel" class="tab-pane" id="productUsages" aria-expanded="false"
            *ngIf="productDto?.productTypeId == productTypeEnum.Consumables || productDto?.productTypeId == productTypeEnum.Calibrators">
            <app-product-usages [fromProductDetails]="true" [productId]="productId" [productCreatedBy]="productDto?.createdBy"></app-product-usages>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>