<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='staff.img' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            <span *ngIf="isCreateMode()">New Working Day</span>
            <span
              *ngIf="isUpdateMode()">{{ data?.laboratoryWorkingDayDto?.laboratoryName +' | '+ data?.laboratoryWorkingDayDto?.day}}</span>
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="form" (ngSubmit)="save()">
      <div class="row" *ngIf="!data.fromLaboratoryDetails">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryId">
              <mat-option *ngFor="let option of (countries$ | async)" [value]="option.id">{{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('countryId').hasError('required')">
              Country is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Region</mat-label>
            <mat-select formControlName="regionId">
              <mat-option *ngFor="let option of (regions$ | async)" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('regionId').hasError('required')">
              Region is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Laboratory</mat-label>
            <mat-select formControlName="laboratoryId">
              <mat-option *ngFor="let option of (laboratories$ | async)" [value]="option.id">{{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('laboratoryId').hasError('required')">
              Laboratory is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Day</mat-label>
            <mat-select formControlName="day">
              <mat-option *ngFor="let option of (daysOfWeek | enumOptionlist: true)" [value]="option.value">
                {{ option.value | humanize }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('day').hasError('required')">
              Day is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>From Time</mat-label>
            <span matPrefix>
              <mat-icon class="mr-2">access_time</mat-icon>
            </span>
            <input matInput type="time" formControlName="fromTime" />
            <mat-error *ngIf="form.get('fromTime').hasError('required')">
              From Time is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>To Time</mat-label>
            <span matPrefix>
              <mat-icon class="mr-2">access_time</mat-icon>
            </span>
            <input matInput type="time" formControlName="toTime" />
            <mat-error *ngIf="form.get('toTime').hasError('required')">
              To Time is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
              <span *ngIf="isCreateMode()">Add New</span>
              <span *ngIf="isUpdateMode()">Edit</span>
              <mat-icon class="ml-2" *ngIf="loading">
                <mat-spinner color="accent" diameter="20"></mat-spinner>
              </mat-icon>
            </button>
            <button mat-raised-button color="warn" type="button" [disabled]="loading" (click)="dialogRef.close()"
              tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>