.testing-areas {
  max-height: 300px;
  position: relative;
  direction: rtl;
  li {
    cursor: pointer;
  }
}
.tests-card {
  max-height: 300px;
  position: relative;
}

.selected {
  background: #0b0e15;
}