<!--body content wrap start-->
<div class="main">

  <!--hero section start-->
  <section class="hero-section ptb-100 gradient-overlay"
    style="background: url('assets/img/header-bg-5.jpg')no-repeat center center / cover">
    <div class="hero-bottom-shape-two"
      style="background: url('assets/img/hero-bottom-shape.svg')no-repeat bottom center">
    </div>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-9 col-lg-7">
          <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
            <h1 class="text-white mb-0">FAQ Page</h1>
            <div class="custom-breadcrumb">
              <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                <li class="list-inline-item breadcrumb-item"><a href="javascript:;" routerLink="/">Home</a></li>
                <li class="list-inline-item breadcrumb-item active">Faq</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--hero section end-->

  <!--promo section start-->
  <section class="promo-section ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-9">
          <div class="section-heading mb-5">
            <h2>Frequently Asked Questions</h2>
            <p class="lead">
              Quickly morph client-centric results through performance based applications. Proactively facilitate
              professional human capital for cutting-edge.
            </p>
          </div>
        </div>
      </div>
      <!--pricing faq start-->
      <div class="row">
        <div class="col-lg-12">
          <div id="accordion-1" class="accordion accordion-faq">
            <!-- Accordion card -->
            <div class="card" *ngFor="let x of (faqs$ | async)">
              <div class="card-header py-4" id="heading-{{x.id}}" data-toggle="collapse" role="button"
                attr.data-target="#collapse-{{x.id}}" aria-expanded="false" aria-controls="collapse-{{x.id}}">
                <h6 class="mb-0"><span class="ti-receipt mr-3"></span> {{ x.question }}</h6>
              </div>
              <div id="collapse-{{x.id}}" class="collapse" aria-labelledby="heading-{{x.id}}"
                data-parent="#accordion-1">
                <div class="card-body">
                  <p>{{ x.answer }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--pricing faq end-->
    </div>
  </section>
  <!--promo section end-->

</div>
<!--body content wrap end-->

<app-partners-section></app-partners-section>