<!--services section start-->
<section class="services-section ptb-100 gray-light-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="section-heading text-center mb-5">
          <h2>We Provide Best Services</h2>
          <p class="lead">Efficiently aggregate end-to-end core competencies without maintainable ideas. Dynamically
            foster tactical solutions without enabled value.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let x of (features$ | async)">
        <div class="services-single animated-hover text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
          <img [src]="x.logoPath || 'assets/img/consult.svg'" alt="consulting" width="80" class="mb-3">
          <h5>{{ x.title }}</h5>
          <p class="mb-0">{{ x.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--services section end-->