<div class="container-fluid">
  <!--Errors-->
  <import-errors *ngIf="errors?.length > 0" [errors]="errors" [pageSize]="paginator?.pageSize || 0"
    (notify)="paginator.pageIndex = $event; dataSource.paginator = paginator">
  </import-errors>
  <!--/Errors-->

  <div class="row" *ngIf="isActive">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="body">
        <div class="row">
          <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Sheet</mat-label>
              <mat-select [(ngModel)]="selectedSheetName" (ngModelChange)=onSheetChange($event)>
                <mat-option *ngFor="let option of sheetNames" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <div class="alert alert-info">
              <strong>Note!</strong>
              The maximum number of records that can be uploaded is
              <strong>{{ formatInt(maxNumOfExcelRecords, false) }}</strong> records.
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngIf="isValidSheetName">
            <mat-label>Import Type:</mat-label>
            <mat-radio-group [(ngModel)]="isAggregate" (ngModelChange)="onIsAggregateChnage($event)">
              <mat-radio-button class="example-margin" [value]="true">Aggregate
              </mat-radio-button>
              <mat-radio-button class="example-margin" [value]="false">Site by Site</mat-radio-button>
            </mat-radio-group>
            <mat-hint><br><br>
              <div class="alert alert-info" *ngIf="isAggregate">
                <strong>Aggregate!</strong>
                Forecast category should be used to add categories for this forecast, then each category should
                be assigned to one or more lab.
              </div>
              <div class="alert alert-info" *ngIf="!isAggregate">
                <strong>Site by Site!</strong>
                Forecast category will be skipped.
              </div>
            </mat-hint>
          </div>
        </div>

        <div class="row" *ngIf="!isValidSheetName">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="mt-3 alert alert-danger">
              <strong>Error!</strong>
              The selected sheet name does not match any of the objects names that are exist in Databases,
              The sheet name must match one of the names that shown below:
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Object Name</th>
                  <th scope="col">Acceptable Sheet Names</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>HistoicalConsumption</td>
                  <td>HistoicalConsumption, HistoicalConsumptions, Histoical Consumption, Histoical Consumptions,
                    Histoical-Consumption</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <input mat-raised-button type="file" (change)="readFile($event)" multiple="false" style="display: none;"
              #file (click)="file.value = ''" />
            <button mat-raised-button color="primary" (click)="file.click()">Upload Excel</button>
          </div>
        </div>

        <div class="row" *ngIf="isValidSheetName">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="body">
                <div class="table-responsive">
                  <div class="materialTableHeader">
                    <div class="row">
                      <div class="col-8">
                        <ul class="header-buttons-left ml-0">
                          <li class="dropdown">
                            <h2>
                              <strong>Histoical Consumptions</strong></h2>
                          </li>
                        </ul>
                      </div>
                      <div class="col-4">
                        <ul class="header-buttons">
                          <li>
                            <div class="icon-button-demo">
                              <button [matMenuTriggerFor]="columnFilterMenu" mat-mini-fab color="primary"
                                matTooltip="Filter Columns">
                                <mat-icon>filter_list</mat-icon>
                              </button>
                            </div>
                          </li>
                          <!-- <li>
                            <div class="icon-button-demo mr-1">
                              <a mat-mini-fab href="assets/excel/HistoicalConsumption.xlsx"
                                matTooltip="Download Template">
                                <mat-icon>file_download</mat-icon>
                              </a>
                            </div>
                          </li>
                          <li>
                            <div class="icon-button-demo">
                              <input mat-raised-button type="file" (change)="readFile($event)" multiple="false"
                                style="display: none;" #file (click)="file.value = ''" />
                              <button mat-mini-fab color="primary" (click)="file.click()" matTooltip="Upload Excel">
                                <mat-icon>file_upload</mat-icon>
                              </button>
                            </div>
                          </li> -->
                          <li>
                            <div class="icon-button-demo">
                              <button mat-mini-fab color="primary" (click)="addObject()" matTooltip="Add New">
                                <mat-icon>add</mat-icon>
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <cdk-virtual-scroll-viewport tvsItemSize class="wrapper">
                    <mat-table [dataSource]="dataSource" class="mat-cell import-table">
                      <!-- Columns -->
                      <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                        <ng-container *ngIf="column.type === 'custom' && column.property == 'index'" [matColumnDef]="column.property">
                          <mat-header-cell *matHeaderCellDef class="uppercase">#</mat-header-cell>
                          <mat-cell *matCellDef="let row; let i = index" [formGroup]="row" [ngClass]="column.cssClasses">
                            <span>{{ getRowNumber(i) }}</span>
                          </mat-cell>
                        </ng-container>
                        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                          <mat-header-cell *matHeaderCellDef class="uppercase">
                            {{ column.label | humanize}}</mat-header-cell>
                          <mat-cell *matCellDef="let row" [formGroup]="row" [ngClass]="column.cssClasses">
                            <mat-form-field appearance="outline">
                              <input matInput placeholder="{{ column.label }}" formControlName="{{ column.property }}"
                                autocomplete="off" />
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>
                        <ng-container *ngIf="column.type === 'number'" [matColumnDef]="column.property">
                          <mat-header-cell *matHeaderCellDef class="uppercase">
                            {{ column.label | humanize}}</mat-header-cell>
                          <mat-cell *matCellDef="let row" [formGroup]="row" [ngClass]="column.cssClasses">
                            <mat-form-field appearance="outline">
                              <input type="number" matInput placeholder="{{ column.label }}"
                                formControlName="{{ column.property }}" autocomplete="off" />
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>
                        <ng-container *ngIf="column.type === 'date'" [matColumnDef]="column.property">
                          <mat-header-cell *matHeaderCellDef class="uppercase">
                            {{ column.label | humanize}}</mat-header-cell>
                          <mat-cell *matCellDef="let row" [formGroup]="row" [ngClass]="column.cssClasses">
                            <mat-form-field appearance="outline">
                              <input [matDatepicker]="datepickerRef" matInput placeholder="{{ column.label }}"
                                formControlName="{{ column.property }}">
                              <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                              <mat-datepicker #datepickerRef></mat-datepicker>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>
                        <ng-container *ngIf="column.type === 'select'" [matColumnDef]="column.property">
                          <mat-header-cell *matHeaderCellDef class="uppercase">
                            {{ column.label | humanize}}</mat-header-cell>
                          <mat-cell *matCellDef="let row" [formGroup]="row" [ngClass]="column.cssClasses">
                            <mat-form-field appearance="outline">
                              <mat-select placeholder="{{ column.label }}" formControlName="{{ column.property }}">
                                <ng-container *ngIf="column.property == 'regionId'">
                                  <mat-option *ngFor="let x of userRegions" [value]="x.id">{{ x.name }}
                                  </mat-option>
                                </ng-container>
                                <ng-container *ngIf="column.property == 'laboratoryId'">
                                  <mat-option *ngFor="let x of getFilteredLabs(row.value.regionId)" [value]="x.id">
                                    {{ x.name }}
                                  </mat-option>
                                </ng-container>
                                <ng-container *ngIf="column.property == 'productId'">
                                  <mat-option *ngFor="let x of products" [value]="x.id">{{ x.name }}
                                  </mat-option>
                                </ng-container>
                              </mat-select>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>
                      </ng-container>


                      <!-- Action Column -->
                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let row;">
                          <button mat-icon-button (click)="deleteObject(row)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </mat-cell>
                      </ng-container>

                      <!-- Visible Columns -->
                      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: visibleColumns;" [style.cursor]="'pointer'" matRipple>
                      </mat-row>

                    </mat-table>
                  </cdk-virtual-scroll-viewport>
                  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" class="sticky left-0">
                  </mat-paginator>



                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="row clearfix" *ngIf="!isActive">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card text-center pt-5" style="height: 425px;">
        <div class="body">
          <mat-card class="text-center">
            <h2><span>1</span> Download</h2>
            <p class="mt-5">Download Excel File Format</p>
            <mat-icon>file_download</mat-icon><br>
            <a href="assets/excel/HistoicalConsumption.xlsx" mat-raised-button color="primary" download>
              Download Excel
            </a>
            <p class="m-5">(if nothing happens after you click . check your browser pop-up blocker & disable it)</p>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card text-center pt-5" style="height: 425px;">
        <div class="body">
          <mat-card class="text-center">
            <h2><span>2</span> Upload</h2>
            <p class="mt-5">Upload Excel File Format</p>
            <mat-icon>file_upload</mat-icon><br>
            <input mat-raised-button type="file" (change)="readFile($event)" multiple="false" style="display: none;"
              #file (click)="file.value = ''" />
            <button mat-raised-button color="primary" (click)="file.click()">Upload Excel</button>
            <p class="m-5">Use the exact Excel file and format that you downloaded from the page </p>
            <p class="m-5">Do not copy special formats to the Excel file </p>
          </mat-card>
        </div>
      </div>
    </div>
  </div> -->
</div>


<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
    class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" ngDefaultControl [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>