<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{ isUpdate ? 'Update User' : 'Add New User' }}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:;" routerLink="/user/users">Users</a>
            </li>
            <li class="breadcrumb-item active">
              {{ isUpdate ? userDto?.firstName+' '+userDto?.lastName : 'Add New User' }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>{{ isUpdate ? 'Update User' : 'Add New User' }}</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="p-5 m-auto">
                  <input (change)="previewImage($event, imageTag)" type="file" style="display: none;" #file
                    name="profile_avatar" accept="image/*">
                  <div class="user-image">
                    <img #imageTag (click)="file.click()"
                      [src]="userDto?.personalImagePath || 'assets/images/user/usrbig3.jpg'"
                      class="user-img">
                    <mat-icon (click)="file.click()" size="20px">edit</mat-icon>
                    <mat-icon (click)="removeImg(imageTag, file)" size="20px">delete</mat-icon>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="form.get('firstName').hasError('required')">
                      First Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <mat-icon matSuffix>face</mat-icon>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="form.get('lastName').hasError('required')">
                      Last Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Subscription Level</mat-label>
                    <mat-select formControlName="userSubscriptionLevelId">
                      <mat-option *ngFor="let option of (userSubscriptionLevelsEnum | enumOptionlist: true)"
                        [value]="option.key">
                        {{ option.value | humanize }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('userSubscriptionLevelId').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="form.get('email').hasError('required')">
                      Email is required
                    </mat-error>
                    <mat-error *ngIf="form.get('email').hasError('email')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Telephone</mat-label>
                    <input matInput formControlName="phoneNumber">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="form.get('phoneNumber').hasError('required')">
                      Telephone is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Job Title</mat-label>
                    <input matInput formControlName="jobTitle">
                    <mat-error *ngIf="form.get('jobTitle').hasError('required')">
                      Field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="mr-3" [disabled]="form.invalid || loading" mat-raised-button color="primary"
                    type="submit">
                    {{ isUpdate ? 'Update User' : 'Add New User' }}
                    <mat-icon class="ml-2" *ngIf="loading">
                      <mat-spinner color="accent" diameter="20"></mat-spinner>
                    </mat-icon>
                  </button>
                  <button type="button" [disabled]="loading" mat-button routerLink="/user/users">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>