.close-button {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 0;
  height: 0;
  opacity: 1;
}

.close-button:before, .close-button:after {
  position: absolute;
  left: 0;
  content: ' ';
  height: 13px;
  width: 3px;
  background-color: #F35A48;
  z-index: 1;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.forecast-add-modal-header {
  height: 16px;
}

.forecast-add-modal-body {
  height: calc(100% - 50px);
  margin: auto 30px;
  position: relative;
}

.forecast-add-modal-footer {
  height: 34px;
  bottom: 0;
}

.forecast-add-modal-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.forecast-add-form {
  margin-top: 25px;
}
.control-req__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-req__buttons--button {
  padding: 26px 20px;
  font-size: 12px;
  font-family: 'OpenSans-Semibold';
  border-radius: 5px;
  color: rgba(43, 57, 78, .4);
  background-color: rgba(43, 57, 78, .1);
  cursor: pointer;
  max-width: 210px;
  margin: auto;
}

.method-container.selected .control-req__buttons--button {
  color: #fff;
  background-color: #2B394E;
}
.method-container p {
  color: rgba(43, 57, 78, .4);
  font-size: 10px;
  line-height: 18px;
  font-family: 'OpenSans-Semibold';
  margin-top: 20px;
  padding: 0 10px;
}
.method-container.selected p {
  color: #2B394E;
}
.method-container a {
  color: #20BDEF;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  text-decoration: underline;
  margin-top: 5px;
}

.forecast-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forecast-duration button {
  box-shadow: 0 3px 16px rgba(99, 130, 254, .08);
  border-color: transparent;
  background: #fff;
  width: 46px;
  height: 46px;
}
.forecast-duration  p{
  font-size: 14px;
  font-family: "OpenSans";
  margin: 0;
}

.forecast-add-modal-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.forecast-add-modal-footer__container {
  margin: 0 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-add-modal-footer button{
  min-width: 130px;
}