<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Forecast Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Forecast Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row" *ngIf="cardCounts$ | async; let cardCounts">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
        <div class="card infobox-5">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left card-icon">
                <i class="fab fa-servicestack col-green"></i>
              </div>
              <div class="float-right">
                <p class="text-right font-18">Service</p>
                <div class="col-green">
                  <h3 class="text-right mb-0">{{ formatInt(cardCounts?.service, false) }}</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">{{ formatInt(cardCounts?.serviceAddedToday, false) }} Were added today</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
        <div class="card infobox-5">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left card-icon">
                <i class="fas fa-hourglass-half col-orange"></i>
              </div>
              <div class="float-right">
                <p class="text-right font-18">Consumption</p>
                <div class="col-orange">
                  <h3 class="text-right mb-0">{{ formatInt(cardCounts?.consumption, false) }}</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">{{ formatInt(cardCounts?.consumptionAddedToday, false) }} Were added today
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
        <div class="card infobox-5">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left card-icon">
                <i class="material-icons col-blue">my_location</i>
              </div>
              <div class="float-right">
                <p class="text-right font-18">Morbidity (Target Base)</p>
                <div class="col-blue">
                  <h3 class="text-right mb-0">{{ formatInt(cardCounts?.targetBase, false) }}</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">{{ formatInt(cardCounts?.targetBaseAddedToday, false) }} Were added today
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
        <div class="card infobox-5">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left card-icon">
                <i class="fas fa-globe-americas col-blue"></i>
              </div>
              <div class="float-right">
                <p class="text-right font-18">Morbidity (WHO Base)</p>
                <div class="col-blue">
                  <h3 class="text-right mb-0">{{ formatInt(cardCounts?.whoBase, false) }}</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">{{ formatInt(cardCounts?.whoBaseAddedToday, false) }} Were added today</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Forecasts</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right" style="width: max-content;">
                  <li (click)="forecastsChartPeriod = 5; loadForecastsChart();">
                    <a href="javascript:;">Previous 5 months</a>
                  </li>
                  <li (click)="forecastsChartPeriod = 8; loadForecastsChart();">
                    <a href="javascript:;">Previous 8 months</a>
                  </li>
                  <li (click)="forecastsChartPeriod = 10; loadForecastsChart();">
                    <a href="javascript:;">Previous 10 months</a>
                  </li>
                  <li (click)="forecastsChartPeriod = 12; loadForecastsChart();">
                    <a href="javascript:;">Previous year</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">

            <div class="text-center">
              <mat-form-field class="w-30 pr-2" appearance="fill">
                <mat-label>Select Country Period</mat-label>
                <mat-select [(ngModel)]="countryPeriodId" (ngModelChange)="loadForecastsChart();">
                  <mat-option value="">--all--</mat-option>
                  <mat-option *ngFor="let option of (countryPeriodEnum | enumOptionlist: true)" [value]="option.key">
                    {{option.value | humanize}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <canvas baseChart class="chart" [datasets]="forecastsChartData" [labels]="forecastsChartLabels"
              [options]="forecastsChartOptions" [colors]="forecastsChartColors" [legend]="forecastsChartLegend"
              [chartType]="forecastsChartType"></canvas>
            <div class="text-center p-t-20">
              <div class="chart-note">
                <span class="dot" style="background-color: rgba(76,175,80,1);"></span>
                <span>Service</span>
              </div>
              <div class="chart-note">
                <span class="dot" style="background-color: rgba(33,150,243,1);"></span>
                <span>Consumption</span>
              </div>
              <div class="chart-note">
                <span class="dot" style="background-color: rgba(211,211,211,1);"></span>
                <span>Morbidity (Target Base)</span>
              </div>
              <div class="chart-note mr-0">
                <span class="dot" style="background-color: rgba(110, 104, 193, 1);"></span>
                <span>Morbidity (WHO Base)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-forecast-numbers></app-forecast-numbers>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>New Forecasts</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Level</th>
                    <th>Country</th>
                    <th>Methodology</th>
                    <th>Created On</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of (latestForecasts$ | async)">
                    <td>{{ x.name }}</td>
                    <td>{{ formatDate(x.startDate) }}</td>
                    <td>{{ formatDate(x.endDate) }}</td>
                    <td>{{ x.forecastInfoLevelName | humanize }}</td>
                    <td>{{ x.countryName }}</td>
                    <td>{{ x.forecastMethodologyName | humanize }}</td>
                    <td>{{ formatDateTime(x.createdOn) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>