





              <form class="smart-form" [formGroup]="PatientAssumption">
                <header>
                  Patient related assumptions per site or category
                </header>

                <fieldset>





                  <section>
                    <h2>

                    </h2>

                    <div class="table-responsive" style="overflow-y: auto;height: 318px;border-style: ridge;margin-top: 26px" formArrayName="_patientAssumption">



                      <table class="table table-bordered table-striped table-hover">

                        <thead>
                          <tr >
                             
                              <th *ngFor="let item of controlArray">{{item.name}}</th>
                          
                              
                          </tr>
                      </thead>
                        <tbody>
                          <tr *ngFor="let item1 of PatientAssumption.get('_patientAssumption')['controls']; let i = index;" [formGroupName]="i">

                            <td *ngFor="let item of controlArray">
                             
                              <label class="input">
                                <input type="{{item.type}}" name="{{item.name}}"  min="1" [attr.max]="item.datatype === '2' ? '100' : 1000"  formControlName="{{item.name}}" [attr.disabled] = "item.type === 'text' ? 'disabled' : null" [style.text-align]="item.type === 'text' ? 'left' : 'right'" (input)="inputvalue($event,i,item.datatype);" />
                              </label>

                           
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <!--  <td >
                                  
                                  <label class="input">

                                      <input type="number" name="PatientPercentage" formControlName="PatientPercentage" style="text-align: right" (input)="calculatepatientratio($event.target.value,i)"/>
                                  </label>
                                 
                                  
                              </td>
                              <td >
                                  <label class="input">

                                      <input type="number" name="PatientRatio" formControlName="PatientRatio" style="text-align: right" />
                                  </label>
                              </td>
                        
                              <td>
                                  <label class="input">
                                      <a type="button" (click)="delremovepatientgroup(i)">
                                          <i class="fa fa-trash-o"></i>
                                      </a>
                                  </label>
                              </td>
                         
                          </tr> 
                      </tbody>
                  </table>


              </div> -->

                  </section>



                </fieldset>

                <footer>
                  <!-- <div class="form-actions"> -->
                  <!-- <div class="row">
          <div class="col-md-6"> -->
                  <button type="button" class="btn btn-success" (click)="savepatientassumption()" [disabled]="outsideRange">

                    Next
                    <i class="fa fa-arrow-right"></i>
                  </button>

                  <button type="button" class="btn btn-primary" (click)="Previousclick()">
                    <i class="fa fa-arrow-left"></i>
                    Prev
                  </button>
                  <!-- </div>
        </div> -->
                </footer>
                <!-- </div> -->

              </form>
            