<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li *ngFor="let x of data?.objectInfo">
        <p><span class="font-weight-bold"> {{x.key}}: </span>{{x.value}}</p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn" [disabled]="loading" (click)="submit()" class="mr-2">
      <span *ngIf="data?.status == 'Active'"> Activate</span>
      <span *ngIf="data?.status == 'NotActive'"> Deactivate</span>
      <span *ngIf="data?.status == 'Locked'"> Lock</span>
    </button>
    <button mat-flat-button (click)="dialogRef.close()" tabindex="-1">Cancel</button>
  </div>
</div>