.selected-methodology {
  background: darkcyan;
}
.pricingTable {
  min-height: 590px;
  cursor: pointer;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.all-tabs {
  font-size: smaller;
}