.close-button {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 0;
  height: 0;
  opacity: 1;
}

.close-button:before, .close-button:after {
  position: absolute;
  left: 0;
  content: ' ';
  height: 13px;
  width: 3px;
  background-color: #F35A48;
  z-index: 1;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.forecast-add-modal-header {
  height: 16px;
}

.forecast-add-modal-body {
  height: calc(100% - 50px);
  margin: auto 30px;
  position: relative;
}

.forecast-add-modal-footer {
  height: 34px;
  bottom: 0;
}

.forecast-add-modal-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.forecast-add-form {
  margin-top: -25px;
}
.success-title {
  color: #1BB192;
  font-family: "OpenSans-Semibold";
}
.success-title p {
  margin: 0;
  font-size: 24px;
  font-family: "OpenSans-Bold";
}
.success-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.success-container .btn-cyan {
  margin-top: 35px;
  padding: 12px 70px;
}

.forecast-duration {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forecast-duration button {
  box-shadow: 0 3px 16px rgba(99, 130, 254, .08);
  border-color: transparent;
  background: #fff;
  width: 46px;
  height: 46px;
}
.forecast-duration  p{
  font-size: 14px;
  font-family: "OpenSans";
  margin: 0;
}

.forecast-add-modal-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.forecast-add-modal-footer__container {
  margin: 0 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast-add-modal-footer button{
  min-width: 130px;
}