<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row" *ngIf="cardCounts$ | async; let cardCounts">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
        <div class="card infobox-5">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left card-icon">
                <i class="material-icons col-green">verified_user</i>
              </div>
              <div class="float-right">
                <p class="text-right font-18">Active Laboratories</p>
                <div class="col-green">
                  <h3 class="text-right mb-0">{{ formatInt(cardCounts?.activeLaboratories, false) }}</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">{{ formatInt(cardCounts?.laboratoriesAddedToday, false) }} Were added today
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
        <div class="card infobox-5">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left card-icon">
                <i class="material-icons col-blue">message</i>
              </div>
              <div class="float-right">
                <p class="text-right font-18">Inquiry Questions (Today)</p>
                <div class="col-blue">
                  <h3 class="text-right mb-0">{{ formatInt(cardCounts?.inquiryQuestionsAddedToday, false) }}</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">{{ formatInt(cardCounts?.notAnsweredInquiryQuestions, false) }} Haven't been
              answered yet</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
        <div class="card infobox-5">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left card-icon">
                <i class="material-icons col-green">group_add</i>
              </div>
              <div class="float-right">
                <p class="text-right font-18">Active Users</p>
                <div class="col-green">
                  <h3 class="text-right mb-0">{{ formatInt(cardCounts?.activeUsers, false) }}</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">{{ formatInt(cardCounts?.usersAddedToday, false) }} Joined today</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
        <div class="card infobox-5">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left card-icon">
                <i class="material-icons col-red">sentiment_very_dissatisfied</i>
              </div>
              <div class="float-right">
                <p class="text-right font-18">Locked & Inactive Users</p>
                <div class="col-red">
                  <h3 class="text-right mb-0">{{ formatInt(cardCounts?.unactiveUsers, false) }}</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">{{ formatInt(cardCounts?.usersDeactivatedToday, false) }} Locked &
              Deactivated today</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Registred Users</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right" style="width: max-content;">
                  <li (click)="usersChartPeriod = 5; loadUsersChart();">
                    <a href="javascript:;">Previous 5 months</a>
                  </li>
                  <li (click)="usersChartPeriod = 8; loadUsersChart();">
                    <a href="javascript:;">Previous 8 months</a>
                  </li>
                  <li (click)="usersChartPeriod = 10; loadUsersChart();">
                    <a href="javascript:;">Previous 10 months</a>
                  </li>
                  <li (click)="usersChartPeriod = 12; loadUsersChart();">
                    <a href="javascript:;">Previous year</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <!-- Canvas for Chart.js -->
            <canvas baseChart [chartType]="'line'" [datasets]="usersChartData" [labels]="usersChartLabels"
              [options]="usersChartOptions" [legend]="true">
            </canvas>
            <div class="text-center p-t-20">
              <div class="chart-note">
                <span class="dot dot-product"></span>
                <span>New Users</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Inquiry Questions</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right" style="width: max-content;">
                  <li (click)="questionsChartPeriod = 5; loadInquiryQuestionsChart();">
                    <a href="javascript:;">Previous 5 months</a>
                  </li>
                  <li (click)="questionsChartPeriod = 8; loadInquiryQuestionsChart();">
                    <a href="javascript:;">Previous 8 months</a>
                  </li>
                  <li (click)="questionsChartPeriod = 10; loadInquiryQuestionsChart();">
                    <a href="javascript:;">Previous 10 months</a>
                  </li>
                  <li (click)="questionsChartPeriod = 12; loadInquiryQuestionsChart();">
                    <a href="javascript:;">Previous year</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
            <div class="text-center p-t-20">
              <div class="chart-note">
                <span class="dot dot-product1"></span>
                <span>Answered</span>
              </div>
              <div class="chart-note mr-0">
                <span class="dot dot-service1"></span>
                <span>Not Answered Yet</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>New Laboratories</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right" style="width: max-content;">
                  <li (click)="laboratoriesChartPeriod = 5; loadLaboratoriesChart();">
                    <a href="javascript:;">Previous 5 months</a>
                  </li>
                  <li (click)="laboratoriesChartPeriod = 8; loadLaboratoriesChart();">
                    <a href="javascript:;">Previous 8 months</a>
                  </li>
                  <li (click)="laboratoriesChartPeriod = 10; loadLaboratoriesChart();">
                    <a href="javascript:;">Previous 10 months</a>
                  </li>
                  <li (click)="laboratoriesChartPeriod = 12; loadLaboratoriesChart();">
                    <a href="javascript:;">Previous year</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="text-center">
              <mat-form-field class="w-30 pr-2" appearance="fill">
                <mat-label>Select Country</mat-label>
                <mat-select [(ngModel)]="chart_countryId"
                  (ngModelChange)="chart_regionId = null; loadLaboratoriesChart(); loadChartRegions();">
                  <mat-option *ngFor="let x of (countries$ | async)" [value]="x.id">{{x.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="w-30 pl-2" appearance="fill">
                <mat-label>Select Region</mat-label>
                <mat-select [(ngModel)]="chart_regionId" (ngModelChange)="loadLaboratoriesChart();">
                  <mat-option *ngFor="let x of (chart_regions$ | async)" [value]="x.id">{{x.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- Canvas for Chart.js -->
            <canvas baseChart [chartType]="'line'" [datasets]="laboratoriesChartData" [labels]="laboratoriesChartLabels"
              [options]="laboratoriesChartOptions" [legend]="true">
            </canvas>
            <div class="text-center p-t-20">
              <div class="chart-note">
                <span class="dot dot-product"></span>
                <span>New Laboratories</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card infobox-5">
              <div class="card-body">
                <div>
                  <mat-form-field class="w-50 pr-2" appearance="fill">
                    <mat-label>Select Country</mat-label>
                    <mat-select [(ngModel)]="lab_countryId"
                      (ngModelChange)="lab_regionId = null; loadNumberOfLaboratories(); loadLabRegions();">
                      <mat-option *ngFor="let x of (countries$ | async)" [value]="x.id">{{x.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="w-50 pl-2" appearance="fill">
                    <mat-label>Select Region</mat-label>
                    <mat-select [(ngModel)]="lab_regionId" (ngModelChange)="loadNumberOfLaboratories();">
                      <mat-option *ngFor="let x of (lab_regions$ | async)" [value]="x.id">{{x.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="clearfix">
                  <div class="float-left card-icon">
                    <i class="material-icons col-blue">verified_user</i>
                  </div>
                  <div class="float-right">
                    <p class="text-right font-18">Number of Laboratories</p>
                    <div class="col-blue">
                      <h3 class="text-right mb-0">{{ formatInt(numberOfLaboratories$ | async, false) }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card infobox-5">
              <div class="card-body">
                <div>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Select Country</mat-label>
                    <mat-select [(ngModel)]="dis_countryId" (ngModelChange)="loadNumberOfDiseases();">
                      <mat-option *ngFor="let x of (countries$ | async)" [value]="x.id">{{x.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="clearfix">
                  <div class="float-left card-icon">
                    <i class="material-icons col-red">bug_report</i>
                  </div>
                  <div class="float-right">
                    <p class="text-right font-18">Number of Diseases</p>
                    <div class="col-red">
                      <h3 class="text-right mb-0">{{ formatInt(numberOfDiseases$ | async, false) }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>New Users</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of (latestUsers$ | async)">
                    <td class="table-img">
                      <img *ngIf="x.personalImagePath" [src]="x.personalImagePath" alt="">
                      <ngx-avatar size="30" *ngIf="!x.personalImagePath" name="{{x.firstName +' '+ x.lastName}}">
                      </ngx-avatar>
                    </td>
                    <td>{{x.firstName +' '+ x.lastName}}</td>
                    <td><a href="mailto:{{x.email}}"> {{x.email}}</a></td>
                    <td>{{ formatDateTime(x.createdOn) }}</td>
                    <td>
                      <div class="badge col-{{ x.status == 'Active' ? 'green' : 'red' }}">{{ x.status | humanize }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>New Diseases</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Diseases Name</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of (latestDiseases$ | async)">
                    <td>{{x.name}}</td>
                    <td>
                      <div class="badge col-{{ x.isActive ? 'green' : 'red' }}">{{ x.isActive ? 'Active' : 'Disabled' }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>