.close-button {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 0;
  height: 0;
  opacity: 1;
}

.close-button:before, .close-button:after {
  position: absolute;
  left: 0;
  content: ' ';
  height: 13px;
  width: 3px;
  background-color: #F35A48;
  z-index: 1;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.forecast-add-modal-header {
  height: 16px;
}

.forecast-add-modal-body {
  height: calc(100% - 50px);
  margin: auto 30px;
  position: relative;
}

.forecast-add-modal-footer {
  height: 34px;
  bottom: 0;
}

.forecast-add-modal-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.forecast-add-form {
  margin-top: 25px;
  height: inherit;
}

.forecast-import-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-import-section p {
  text-align: left;
  color: #2B394E;
  font-family: "OpenSans-Semibold";
  font-size: 12px;
  margin: 0;
}

.forecast-import-section span {
  color: rgba(43, 57, 78, .4);
  font-size: 11px;
  font-family: "OpenSans-Semibold";
}

.forecast-import-section button {
  border-radius: 25px;
}

.table>tbody>tr>td {
  font-size: 10px;
}

.forecast-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-duration button {
  box-shadow: 0 3px 16px rgba(99, 130, 254, .08);
  border-color: transparent;
  background: #fff;
  width: 46px;
  height: 46px;
}

.forecast-duration p {
  font-size: 14px;
  font-family: "OpenSans";
  margin: 0;
}

.forecast-add-modal-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}

.forecast-add-modal-footer__container {
  margin: 0 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-add-modal-footer button {
  min-width: 130px;
}

.forecast-import-section .input-file span.btn {
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  width: 90px;
  border-radius: 20px;
}

.forecast-import-section .input-file span.btn input {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
}

.forecast-import-section .input-file .file-name {
  width: 220px;
}

.forecast-import-section .input-file input {
  border: none;
}

.forecast-import-data>.table>thead>tr>th {
  border-bottom: 0;
}

.table>tbody tr td:last-child {
  display: table-cell;
  justify-content: unset;
  padding: 8px 10px;
}

.forecast-import-data .table-striped>tbody>tr, .forecast-import-data .table-striped>thead>tr {
  height: 44px;
}

.forecast-import-flex {
  display: flex;
  flex-direction: column;
}

.forecast-import-data {
  margin-top: 10px;
  height: 400px;
  overflow-y: auto;
}

.forecast-import-data>.table>tbody>tr>td {
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  width: 1%;
}

.btn-report {
  height: 34px;
  min-width: 80px;
  font-family: "OpenSans-Semibold";
  border-radius: 5px;
  box-shadow: 0 3px 16px rgba(99, 130, 254, .16);
  background-color: transparent;
  padding: 0 15px;
  margin-top: 4px;
}

.btn-report.btn-outline-success {
  border-color: #1BB192;
  color: #1BB192;
}

.btn-report.btn-outline-fail {
  border-color: #F35A48;
  color: #F35A48;
}

.user-sheets {
  border-radius: 5px !important;
}

.sleect-sheet {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.table-error-report>tbody>tr>td {
  font-size: 12px;
}

.table-error-report>tbody>td {
  height: 40px;
}