<!--customer section start-->
<div class="customer-section ptb-100 d-none d-md-block d-sm-none d-lg-block gray-light-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="client-section-wrap d-flex flex-row align-items-center">
          <p class="lead mr-5 mb-0">Trusted by companies like:</p>
          <ul class="list-inline justify-content-between">
            <li class="list-inline-item"><img src="assets/img/PEPFAR.png" width="100" alt="client" class="img-fluid">
            </li>
            <li class="list-inline-item"><img src="assets/img/USAID.png" width="100" alt="client" class="img-fluid">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--customer section end-->