<div id="conduct-forecast-output">
  <div id="conduct-forecast-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="comparison-container">
          <div class="comparison-title">
            <p>Forecast Costs Comparison</p>
          </div>
          <div class="comparison-chart">
            <div class="row">
              <div class="col-md-7">
                <div id="comparison-line-chart" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
              </div>
              <div class="col-md-5">
                <div id="comparison-pie-chart" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
