<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Inquiry Question</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:;" routerLink="/CMS/inquiry-questions">Inquiry Questions</a>
            </li>
            <li class="breadcrumb-item active">Details</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="chat">
            <div class="chat-header clearfix">
              <div class="pull-left">
                <ngx-avatar size="50" name="{{inquiryQuestionDto?.name}}"></ngx-avatar>
              </div>
              <div class="chat-about">
                <div class="chat-with">{{inquiryQuestionDto?.name}}</div>
                <div class="chat-num-messages"><a
                    href="mailto:{{inquiryQuestionDto?.email}}">{{inquiryQuestionDto?.email}}</a></div>
              </div>
            </div>
            <div class="chat-history" id="chat-conversation" style="position: relative; max-height: 449px;"
              [perfectScrollbar]>
              <ul>
                <li class="clearfix">
                  <div class="message-data text-right">
                    <span class="message-data-time">{{formatDateTime(inquiryQuestionDto?.createdOn)}}
                    </span>
                    &nbsp; &nbsp;
                    <span class="message-data-name">{{inquiryQuestionDto?.name}}</span>
                  </div>
                  <div class="message other-message float-right">{{inquiryQuestionDto?.message}}</div>
                </li>
                <li *ngFor="let x of inquiryQuestionDto?.inquiryQuestionReplyDtos">
                  <div class="message-data">
                    <span class="message-data-name">{{x?.name}} </span>
                    <span class="message-data-time">{{formatDateTime(x?.createdOn)}}</span>
                  </div>
                  <div class="message my-message">
                    <p>{{x?.message}}</p>
                    <div class="row">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-message clearfix" [formGroup]="form">
              <div class="form-group">
                <div class="form-line">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <textarea matInput formControlName="message" placeholder="Type your reply..." required></textarea>
                  </mat-form-field>

                  <button mat-raised-button color="primary" type="button" (click)="sendReply()"
                    [disabled]="form.invalid || loading">
                    <span>Send Reply</span>
                    <mat-icon class="ml-2" *ngIf="loading">
                      <mat-spinner color="accent" diameter="20"></mat-spinner>
                    </mat-icon>
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>