.close-button {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 0;
  height: 0;
  opacity: 1;
}

.close-button:before, .close-button:after {
  position: absolute;
  left: 0;
  content: ' ';
  height: 13px;
  width: 3px;
  background-color: #F35A48;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.prod-type-add-modal-header {
  height: 16px;
}

.prod-type-add-modal-body {
  height: calc(100% - 50px);
  margin: auto 70px;
}

.prod-type-add-modal-footer {
  height: 34px;
  bottom: 0;
}

.prod-type-add-modal-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}


.prod-type-add-form__inner {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.prod-type-add-form input {
  font-size: 12px;
  font-family: "OpenSans-Bold";
  border-radius: 5px !important;
  border-color: transparent;
  background-color: #F3F4F5;
  padding: 12px 14px;
  height: auto;
  margin-right: 60px;
}
