.close-button {
  position: absolute;
  right: 18px;
  top: 14px;
  width: 0;
  height: 0;
  opacity: 1;
}

.close-button:before, .close-button:after {
  position: absolute;
  left: 0;
  content: ' ';
  height: 13px;
  width: 3px;
  background-color: #F35A48;
  z-index: 1;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.forecast-add-modal-header {
  height: 16px;
}

.forecast-add-modal-body {
  height: calc(100% - 50px);
  margin: auto 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.forecast-add-modal-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.forecast-add-form {
  width: 100%;
  height: 100%;
}

.forecast-test-type__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
}

.selected {
  color: #fff !important;
  background-color: #2B394E !important;
}

.forecast-test-type__buttons--button {
  width: 100px;
  padding: 13px;
  font-size: 12px;
  font-family: 'OpenSans-Semibold';
  border-radius: 5px;
  color: rgba(43, 57, 78, .4);
  background-color: rgba(43, 57, 78, .1);
  cursor: pointer;
}

.header-button {
  font-size: 12px;
  font-family: 'OpenSans-Semibold';
  border-radius: 5px;
  color: rgba(43, 57, 78, .4);
  background-color: rgba(43, 57, 78, .1);
  cursor: pointer;
  margin-left: -50px;
  width: 106px;
  height: 32px;
  border: none;
}

.forecast-test-list {
  margin-top: 20px;
  padding: 0px 14px;
  height: 350px;
  overflow-y: auto;
}

.forecast-test-list .table>thead>tr>th {
  min-width: 55px;
  border-bottom: 0;
}

.forecast-test-add {
  margin-top: 25px;
}

.forecast-test-add .add-test__select {
  padding-left: 40px;
}

.forecast-test-add .add-test__select select {
  height: 36px;
  border: 0;
  border-radius: 10px !important;
  box-shadow: none;
  background-color: #FDFDFD;
}

.forecast-test-add .add-test {
  height: 36px;
  padding-top: 9px;
  border-radius: 20px;
  width: 76px;
  margin: 3px 24px;
}

.forecast-add-modal-footer {
  display: flex;
  width: 100%;
  height: 34px;
  bottom: 0;
}

.forecast-add-modal-footer__container {
  margin: 0 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-add-modal-footer button {
  min-width: 130px;
}

.forecast-test-list .table tbody td input.percent-type {
  width: 100px;
  min-width: 100px;
}

.forecast-test-list .table tbody td input.site-name {
  width: 140px;
  min-width: 140px;
  height: 43px;
  border: none;
  background-color: #F3F4F5;
  border-radius: 5px !important;
}

.forecast-test-list .table tbody td input {
  width: 60px;
  padding-right: 8px;
}

.forecast-test-list .table>tbody>tr>td, .forecast-test-list .table>thead>tr>th {
  padding: 8px 4px;
}