<div class="row">
  <div class="col-md-4">
    <div class="">
      <div class="body">
        <div id="mail-nav">
          <h5 class="b-b p-10 text-strong">Programs</h5>
          <ul class="" id="mail-folders" [perfectScrollbar]>
            <li [ngClass]="selectedProgram == x ? 'active' : ''" *ngFor="let x of programDtos"
              (click)="selectedProgram = x; loadProgramDetails(x.id)">
              <a href="javascript:;" [title]="x.name">{{ x.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="">
      <div class="body">
        <h5 class="b-b p-10 text-strong"><strong>Testing Protocol Months </strong> <span *ngIf="selectedProgram"> | {{selectedProgram?.name}}</span></h5>
        <div class="row" *ngIf="selectedProgram; else noSelectedProgram">

          <form [formGroup]="form" (ngSubmit)="submitForm()" class="col-md-12">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="fill">
                  <mat-label>Test</mat-label>
                  <mat-select formControlName="testId">
                    <mat-option *ngFor="let x of tests" [value]="x.id">{{ x.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="fill">
                  <mat-label>Testing Protocol</mat-label>
                  <mat-select formControlName="testingProtocolId">
                    <mat-option *ngFor="let x of getFilteredProtocols(form.value.testId)" [value]="x.id">
                      {{ x.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="fill">
                  <mat-label>Patient Group</mat-label>
                  <mat-select formControlName="patientGroupId">
                    <mat-option *ngFor="let x of patientGroups" [value]="x.id">{{ x.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2" style="line-height: 3;">
                <button class="btn-block" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                  Add
                </button>
              </div>
            </div>
          </form>

          <mat-accordion class="col-md-12 example-headers-align">
            <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" *ngFor="let x of getFilteredMonths; let i=index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{x.testName}} | {{x.testingProtocolName}} | {{x.patientGroupName}}
                </mat-panel-title>
                <mat-panel-description>
                  <span></span>
                  <mat-icon (click)="deleteMonth(x)">delete</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!--Months-->
              <div class="body table-responsive" [perfectScrollbar] style="max-height: 300px; position: relative;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>PERIOD MONTH</th>
                      <th>VALUE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let y of x.testingProtocolCalculationPeriodMonthDtos; let j=index">
                      <th scope="row">{{j+1}}</th>
                      <td>{{y.calculationPeriodMonthName}}</td>
                      <td>
                        <input type="number" class="form-control form-control-sm w-50" [(ngModel)]="y.value"
                        [ngModelOptions]="{standalone: true}" placeholder="value">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--/Months-->

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()" *ngIf="i > 0">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
        <ng-template #noSelectedProgram>
          <p class="p-10">Please select the program from the left side bar</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>