<div id="content">
  <div class="row">
    <article class="col-sm-12">
      <div sa-widget [editbutton]="false" color="blueDark" [deletebutton]="false">
        <div>
          <div class="widget-body no-padding">
            <app-manage-datatable id="region-table"
              tableClass="table table-striped table-bordered table-hover Category">
              <thead>
                <tr>
                  <th data-class="expand">Name</th>
                  <th data-class="expand">Country Name</th>
                  <th data-class="expand">Actions</th>
                </tr>
              </thead>
            </app-manage-datatable>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
