<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='staff.img' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            <span *ngIf="isCreateMode()">New Instrument</span>
            <span *ngIf="isUpdateMode()">{{ data?.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="form.get('name').hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Vendor</mat-label>
            <mat-select formControlName="vendorId">
              <mat-option *ngFor="let option of (vendors$ | async)" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('vendorId').hasError('required')">
              Vendor is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Max Through Put</mat-label>
            <input matInput formControlName="maxThroughPut" type="number" oninput="validity.valid||(value='');" step="1"
              min="0">
            <mat-error *ngIf="form.get('maxThroughPut').hasError('required')">
              Max Through Put is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Through Put Unit</mat-label>
            <mat-select formControlName="throughPutUnitId">
              <mat-option *ngFor="let option of (throughPutUnitEnum | enumOptionlist: true)" [value]="option.key">
                {{ option.value | humanize }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('throughPutUnitId').hasError('required')">
              Through Put Unit is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Control Requirement</mat-label>
            <input matInput formControlName="controlRequirement" type="number" oninput="validity.valid||(value='');"
              step="1" min="0">
            <mat-error *ngIf="form.get('controlRequirement').hasError('required')">
              Control Requirement is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Control Requirement Unit</mat-label>
            <mat-select formControlName="controlRequirementUnitId">
              <mat-option *ngFor="let option of (controlRequirementUnitEnum | enumOptionlist: true)"
                [value]="option.key">
                {{ option.value | humanize }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('controlRequirementUnitId').hasError('required')">
              Control Requirement Unit is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Testing Area</mat-label>
            <mat-select formControlName="testingAreaId">
              <mat-option *ngFor="let option of (testingAreas$ | async)" [value]="option.id">{{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('testingAreaId').hasError('required')">
              Testing Area is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Reagent System</mat-label>
            <mat-select formControlName="reagentSystemId">
              <mat-option *ngFor="let option of (reagentSystemEnum | enumOptionlist: true)" [value]="option.key">
                {{ option.value | humanize }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('reagentSystemId').hasError('required')">
              Reagent System is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
              <span *ngIf="isCreateMode()">Add New</span>
              <span *ngIf="isUpdateMode()">Edit</span>
              <mat-icon class="ml-2" *ngIf="loading">
                <mat-spinner color="accent" diameter="20"></mat-spinner>
              </mat-icon>
            </button>
            <button mat-raised-button color="warn" type="button" [disabled]="loading" (click)="dialogRef.close()"
              tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>