<div class="mb-5">
  <mat-accordion>

    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)"
      *ngFor="let x of groupTestingAssumptionParameterDto; let i=index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Program: {{ x.programName }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!--Assumptions-->
      <div class="body table-responsive" [perfectScrollbar] style="max-height: 300px; position: relative;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>NAME</th>
              <th>TYPE</th>
              <th>SIGN</th>
              <th>VALUE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let y of x.testingAssumptionParameterDtos; let j=index">
              <th scope="row">#{{j+1}}</th>
              <td>{{y.name}}</td>
              <td>{{y.isPercentage ? 'Percentage' : 'Numeric'}}</td>
              <td>{{y.isPositive ? 'Positive' : 'Negative'}}</td>
              <td>
                <input type="number" class="form-control form-control-sm w-50" [(ngModel)]="y.value"
                  [ngModelOptions]="{standalone: true}" placeholder="value">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Assumptions-->

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()" *ngIf="i > 0">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>