<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Import Data</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:;" (click)="isActive = false">Import</a>
            </li>
            <li class="breadcrumb-item active">Details</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="isActive">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">

            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Sheet</mat-label>
                  <mat-select [(ngModel)]="selectedSheetName" (ngModelChange)=onSheetChange($event)>
                    <mat-option *ngFor="let option of sheetNames" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <div class="alert alert-info">
                  <strong>Note!</strong>
                  The maximum number of records that can be uploaded is
                  <strong>{{ formatInt(maxNumOfExcelRecords, false) }}</strong> records.
                </div>
              </div>
            </div>

            <div class="row" *ngIf="!isNumOfRecordsValid || !isSheetNameValid">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngIf="!isNumOfRecordsValid">
                <div class="mt-3 alert alert-danger">
                  <strong>Error!</strong>
                  The maximum number of records that can be uploaded is
                  <strong>{{ formatInt(maxNumOfExcelRecords, false) }}</strong> records.
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngIf="!isSheetNameValid">
                <div class="mt-3 alert alert-danger">
                  <strong>Error!</strong>
                  The selected sheet name does not match any of the objects names that are exist in Databases,
                  The sheet name must match one of the names that shown below:
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngIf="!isSheetNameValid">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Object Name</th>
                      <th scope="col">Acceptable Sheet Names</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of registredObjects; let i=index">
                      <th scope="row">{{ i+1 }}</th>
                      <td>{{ x.objectName }}</td>
                      <td>{{ formatList(x.acceptableSheetNames) }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix" *ngIf="!isActive">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card text-center pt-5" style="height: 425px;">
          <div class="body">
            <mat-card class="text-center">
              <h2><span>1</span> Download</h2>
              <p class="mt-5">Download Excel File Format</p>
              <mat-icon>file_download</mat-icon><br>
              <a href="assets/excel/{{objectName}}.xlsx" mat-raised-button color="primary" download>
                Download Excel
              </a>
              <p class="m-5">(if nothing happens after you click . check your browser pop-up blocker & disable it)</p>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card text-center pt-5" style="height: 425px;">
          <div class="body">
            <mat-card class="text-center">
              <h2><span>2</span> Upload</h2>
              <p class="mt-5">Upload Excel File Format</p>
              <mat-icon>file_upload</mat-icon><br>
              <input mat-raised-button type="file" (change)="readFile($event)" multiple="false" style="display: none;"
                #file
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                (click)="file.value = ''" />
              <button mat-raised-button color="primary" (click)="file.click()">Upload Excel</button>
              <p class="m-5">Use the exact Excel file and format that you downloaded from the page </p>
              <p class="m-5">Do not copy special formats to the Excel file </p>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isActive && isSheetNameValid && isNumOfRecordsValid">
    <!--Looups-->
    <import-patient-groups *ngIf="selectedObjectName == 'PatientGroup'" [data]="sheetDataJson"></import-patient-groups>
    <import-testing-areas *ngIf="selectedObjectName == 'TestingArea'" [data]="sheetDataJson"></import-testing-areas>
    <import-laboratory-levels *ngIf="selectedObjectName == 'LaboratoryLevel'" [data]="sheetDataJson">
    </import-laboratory-levels>
    <import-laboratory-categories *ngIf="selectedObjectName == 'LaboratoryCategory'" [data]="sheetDataJson">
    </import-laboratory-categories>
    <import-countries *ngIf="selectedObjectName == 'Country'" [data]="sheetDataJson"></import-countries>
    <import-regions *ngIf="selectedObjectName == 'Region'" [data]="sheetDataJson"></import-regions>
    <import-laboratories *ngIf="selectedObjectName == 'Laboratory'" [data]="sheetDataJson"></import-laboratories>
    <!--Vendor-->
    <import-vendors *ngIf="selectedObjectName == 'Vendor'" [data]="sheetDataJson"></import-vendors>
    <import-vendor-contacts *ngIf="selectedObjectName == 'VendorContact'" [data]="sheetDataJson">
    </import-vendor-contacts>
    <!--Testing-->
    <import-tests *ngIf="selectedObjectName == 'Test'" [data]="sheetDataJson"></import-tests>
    <import-testing-protocols *ngIf="selectedObjectName == 'TestingProtocol'" [data]="sheetDataJson">
    </import-testing-protocols>
    <!--Product-->
    <import-products *ngIf="selectedObjectName == 'Product'" [data]="sheetDataJson"></import-products>
    <import-instruments *ngIf="selectedObjectName == 'Instrument'" [data]="sheetDataJson"></import-instruments>
    <import-country-product-prices *ngIf="selectedObjectName == 'CountryProductPrice'" [data]="sheetDataJson">
    </import-country-product-prices>
    <import-region-product-prices *ngIf="selectedObjectName == 'RegionProductPrice'" [data]="sheetDataJson">
    </import-region-product-prices>
    <import-laboratory-product-prices *ngIf="selectedObjectName == 'LaboratoryProductPrice'" [data]="sheetDataJson">
    </import-laboratory-product-prices>
    <import-product-usage [fromProductDetails]="true" *ngIf="selectedObjectName == 'ProductUsage'" [data]="sheetDataJson"></import-product-usage>
    <import-product-usage [fromTestDetails]="true" *ngIf="selectedObjectName == 'TestUsage'" [data]="sheetDataJson"></import-product-usage>
    <!--Disease-->
    <import-diseases *ngIf="selectedObjectName == 'Disease'" [data]="sheetDataJson"></import-diseases>
    <import-country-disease-incidents *ngIf="selectedObjectName == 'CountryDiseaseIncident'" [data]="sheetDataJson">
    </import-country-disease-incidents>
    <!--Program-->
    <import-programs *ngIf="selectedObjectName == 'Program'" [data]="sheetDataJson"></import-programs>
    <import-program-patient-groups *ngIf="selectedObjectName == 'ProgramPatientGroup'" [data]="sheetDataJson">
    </import-program-patient-groups>
    <import-program-tests *ngIf="selectedObjectName == 'ProgramTest'" [data]="sheetDataJson"></import-program-tests>
    <import-testing-assumption-parameters *ngIf="selectedObjectName == 'TestingAssumptionParameter'"
      [data]="sheetDataJson"></import-testing-assumption-parameters>
    <import-patient-assumption-parameters *ngIf="selectedObjectName == 'PatientAssumptionParameter'"
      [data]="sheetDataJson"></import-patient-assumption-parameters>
    <import-product-assumption-parameters *ngIf="selectedObjectName == 'ProductAssumptionParameter'"
      [data]="sheetDataJson"></import-product-assumption-parameters>
    <!--Laboratory-->
    <import-laboratory-consumptions *ngIf="selectedObjectName == 'LaboratoryConsumption'" [data]="sheetDataJson">
    </import-laboratory-consumptions>
    <import-laboratory-instruments *ngIf="selectedObjectName == 'LaboratoryInstrument'" [data]="sheetDataJson">
    </import-laboratory-instruments>
    <import-laboratory-patient-statistics *ngIf="selectedObjectName == 'LaboratoryPatientStatistic'"
      [data]="sheetDataJson"></import-laboratory-patient-statistics>
    <import-laboratory-test-services *ngIf="selectedObjectName == 'LaboratoryTestService'" [data]="sheetDataJson">
    </import-laboratory-test-services>

  </ng-container>

</section>